<html>
	<head>	
	</head>
	<body>
		<div id="app">
			{{ message }}
		</div>
		<div id="app-2" v-bind:title="message" v-if="seen">
		  <span >
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		  </span>
		</div>
		<div id="app-3">
			<span>{{message}}</span>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</div>
		<div id="app-4">
			<span>{{message}}</span>
			<input type="button" value="点击按钮改变文本内容" v-on:click="changeContent"/>
			<input type="text" v-model="iptValue"/>
		</div>
		<div id="app-5">
			<ol>
				<todo-item 
				v-for="item in groceryList" 
				v-bind:todo="item" 
				v-bind:key="item.id">
				</todo-item>
			</ol>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="index.js"></script>
</html>